body {
    font-family: Arial;
    font-size: 18px;
    line-height: 1.6em;
    margin: 0%;
    min-width: 900px;
    background-image: url('./bgGrey.jpg') ;
    background-position: center center;
    color: #eeeeee;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    table-layout: fixed;
}

th, td {
    text-align: left;
    padding: 16px;
    border-bottom: 1px solid #dddddd;
}

tr:hover {
    background-color: #222222;
    opacity: 0.8;
    color: yellow;
    
}
/*
tr:nth-child(even) {
    background: #f2f2f2;
}
*/

#mainHeader {
    background: #333333;
    color: white;
}

#mainNav {
    background: #cccccc;
    color: black;
}

#mainNav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#mainNav li {
    display: inline;
    padding: 5px 10px;
}

#mainNav li:hover {
    background: #aaaaaa;
}

#mainNav a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

#abstract {
    text-align: justify;
}

#remark {
    font-style: italic;
    font-size: 8px;
}

#tStroke, #msgAdd, #msgReset {
    color: yellow;
}

#errorMsg {
    color: red;
}





